.column-bg {
  color: #1d2229;
  background-color: #1d2229;
}

.active {
  color: #4d9a0f;
  cursor: pointer;
}
.active-item {
  background-color: #8cc63f;
  cursor: pointer;
}

.active-item:hover {
  background-color: #8cc63f;
}
.inactive {
  color: #ffffff;
  cursor: pointer;
}
.text-color {
  color: #ffffff;
}
