.connected {
  color: #8cc63f;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px 0px 10px 10px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  text-align: left;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 10px;
  padding: 10px 0px 10px 20px;
  font-weight: 300;
  margin: 0;
  width: 100%;
  text-align: left;
}

h5:hover {
  background-color: #313843;
}

.roomList {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1d2229;
  padding: 10px;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
}

.roomMessage {
  margin-left: 10px;
}

img {
  margin: 10px 30px 20px 30px;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

.active-item {
  background-color: #4D9A0F;
  cursor: pointer;
}

.active-item:hover {
  background-color: #4D9A0F;
}