.messageContent {
  color: black;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.username {
  color: black;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 700;
}

i {
  font-weight: 200;
  font-size: 14px;
  font-style: normal;
  padding-left: 5px;
}

